$font-size-big: 50px;
$font-size-medium: 25px;
$font-size-normal: 13px;

$font-size-big-mob: 35px;
$font-size-medium-mob: 20px;
$font-size-normal-mob: 12px;

$normal: 400;
$bold: 700;

$red-dd: #300;
$red-d: #900;
$red: #f33;
$red-l: #f99;
$red-ll: #fee;

$black: #000;
$grey-dd: #333;
$grey-d: #777;
$grey: #ccc;
$grey-l: #ddd;
$white: #fff;

$spacer: 1vmin;
$input-height: 16px;