$font-size-big: 40px;
$font-size-medium: 25px;
$font-size-normal: 13px;

$bold: 700;

$red-d: #900;
$red: #f33;
$red-l: #f99;
$red-ll: #ffdfdf;

$black: #000;
$grey-d: #777;
$grey: #ccc;
$white: #fff;

$spacer: 1vmin;
$input-height: 15px;