<html>
    <head>
        <title>Tag Cloud Generator</title>

        <script src="js/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="js/generator.js" defer=true></script>        
    </head>
    <body>
        <h1>Tag Cloud Generator</h1>

        <div id="generator">
            <div id="controls">
                Last.fm Username: 
                <input v-model="username"></input>

                <button v-on:click="generate">Load Data</button>

                Time Period:
                <select v-model="period.selected">
                    <option v-for="option in period.options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>

                Max Artists:
                <select v-model="max_artists.selected">
                    <option v-for="option in max_artists.options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>

            <div id="results-container" v-if="result!=undefined">
                {{ result.username + (result.username[result.username.length-1].toLowerCase() == "s" ? "'" : "'s") }} 
                tag cloud based upon their top 
                {{ result.artists.length }} 
                artists 
                {{ {'7day':'over the last 7 days',
                    '1month':'over the last month',
                    '3month':'over the last 3 months',
                    '6month':'over the last 6 months',
                    '12month':'over the last year',
                    'overall':'overall'}[result.period] }}:
    
                <tags-list v-bind:tags="result.tags" v-bind:taggings="result.taggings" v-bind:scores="result.scores"></tags-list>
                <artists-list v-bind:artists="result.artists" v-bind:listens="result.listens"></artists-lists>
            </div>
            <div v-else>
                Click "Load Data"!
            </div>
        </div>
    </body>
</html>