html { height:100%; }
body, #app { min-height:100%; }

#app {
    position:absolute;
    width:100%;

    box-sizing: border-box;
    font-family: "Roboto";
    font-size:10pt;

    --background-colour:#ffffff;
    --text-colour:#000000;

    --title-colour:#f33;
    --header-background:linear-gradient(0deg, #fff 0%, #f3f3f3 100%);

    --section-border-colour:#fff;
    --end-sections-colour:#fff;

    --cloud-text-colour:#000;
    --cloud-background-colour:#fff;
    --cloud-border-colour:#000;

    --list-colour:#fff0f0;

    --input-colour:#fff0f0;
    --input-border-colour:#000;
    --input-disabled-colour:#ffe0e0;
    --input-disabled-border-colour:#f99;

    --highlight-colour:#f33;
    --visited-colour:#f99;

    color:var(--text-colour);
    background:var(--background-colour);
}
#app[theme="dark"] {
    --background-colour:#090909;
    --text-colour:#ddd;

    --title-colour:#fff;
    --header-background:linear-gradient(0deg, #090909 0%, #292929 100%);

    --section-border-colour:#090909;
    --end-sections-colour:#090909;

    --cloud-text-colour:#f33;
    --cloud-background-colour:#000;    
    --cloud-border-colour:#333;

    --list-colour:#000;
    --list-border-colour:#333;

    --input-colour:#000;
    --input-border-colour:#333;
    --input-disabled-colour:#111;
    --input-disabled-border-colour:#333;
}
@media(orientation:portrait){
    #app {
        --input-colour:#fff;
        --section-border-colour:#000;
        --end-sections-colour:#fffafa;
    }
    #app[theme="dark"] {
        --section-border-colour:#333;
        --end-sections-colour:#111;
    }
}

h1,h2 { font-weight:bold; }
h1 { font-size:300%; color: var(--title-colour); }
h2 { font-size:150%; }
@media (orientation: portrait) {
    h1 { font-size: 200%; }
    h2 { font-size:125%; }
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--highlight-colour);
}
a:hover { text-decoration: underline; }
a:visited { color: var(--visited-colour) }

button, input, select {
    padding:0.5vw;
    background:var(--input-colour);
    border-color:var(--input-border-colour);
    color:var(--text-colour);
    border-style:solid;
    border-width:1px;
}
button { border-style:dashed; }
button:disabled {
    color:var(--input-disabled-border-colour);
    border-color:var(--input-disabled-border-colour);
    background:var(--input-disabled-colour);
}
input[type="color"]{ padding:0; box-sizing:border-box; }

ul, ol { list-style: decimal inside; }
li { margin: 0.5vw 0 0.5vw 0; }
@media(orientation:portrait) { li { margin: 1vw 0 1vw 0; } }