html { height:100%; }
body, #app { min-height:100%; }

#app {
    position:absolute;
    width:100%;

    box-sizing: border-box;
    font-family: "Open Sans","Lucida Grande","Helvetica Neue",Helvetica,Arial,Sans-serif;
    font-size:10pt;

    --background-colour:#fff;
    --text-colour:#000;

    --title-colour:#f33;
    --header-background:linear-gradient(0deg, #fff 0%, #fafafa 100%);

    --section-background-colour:#fff;

    --cloud-text-colour:#000;
    --cloud-background-colour:#fff;
    --cloud-border-colour:#000;

    --list-colour:#fff0f0;

    --input-colour:#fff0f0;
    --input-border-colour:#000;

    --highlight-colour:#f33;

    --darkest-colour:#220000;
    --darker-colour:#6c0000;
    --lighter-colour:#f99;
    --lightest-colour:#ffe0e0;

    color:var(--text-colour);
    background:var(--background-colour);

}
#app[theme="dark"] {
    --background-colour:#090909;
    --text-colour:#ddd;

    --title-colour:#fff;
    --header-background:linear-gradient(0deg, #090909 0%, #292929 100%);

    --section-background-colour:#090909;

    --cloud-text-colour:#f33;
    --cloud-background-colour:#000;    
    --cloud-border-colour:#333;

    --list-colour:#000;
    --list-border-colour:#333;

    --input-colour:#000;
    --input-border-colour:#333;
}
@media(orientation:portrait){
    #app {
        --section-background-colour:#fee;
        --input-colour:#fff;        
    }
    #app[theme="dark"] {
        --section-background-colour:#190909;
    }
}

h1,h2 { font-weight:bold; }
h1 { font-size:300%; color: var(--title-colour); }
h2 { font-size:150%; }
@media (orientation: portrait) {
    h1 { font-size: 200%; }
    h2 { font-size:125%; }
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--highlight-colour);
}
a:hover { text-decoration: underline; }
a:visited { color: var(--lighter-colour) }

button, input, select {
    padding:0.5vw;
    font-family: "Open Sans","Lucida Grande","Helvetica Neue",Helvetica,Arial,Sans-serif;
    background:var(--input-colour);
    border-color:var(--input-border-colour);
    color:var(--text-colour);
    border-style:solid;
    border-width:1px;
}
button {
    border-style:dashed;
}
button:disabled {
    color:var(--lighter-colour);
    border-color:var(--lighter-colour);
    background:var(--lightest-colour)
}
#app[theme="dark"] button:disabled {
    color:var(--darker-colour);
    border-color:var(--darker-colour);
    background:var(--darkest-colour)
}

ul, ol { list-style: decimal inside; }
